<%- include header.html %>
<% blogs.forEach(function (blog, index) { %>
  <p><h2><a href="/u/<%= blog.name %>"><img src="<%= blog.head %>" class="r_head" /></a><a href="u/<%= blog.name %>/<%=blog.time%>/<%=blog.title%>"><%= blog.title %></a></h2></p>
  <p class="info">
    author: <a href="u/<%= blog.name %>"><%= blog.name %></a> |
    date: <%= blog.time %>
  </p>
  <p class="info">All read: <%= blog.pv %> | comments: <%= blog.comments.length %></p>
  <!-- <p><%- blog.content %></p> -->
<% }) %>
<%- include paging.html %>
<%- include footer.html %>
